<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {{ form_start(form, {'attr': {'id': 'find-form'}}) }}
    {{ form_row(form.search, {full_name: 'search',required: false}) }}
    {{ form_row(form.page, {full_name: 'page',required: false}) }}
    {{ form_row(form.limit, {full_name: 'limit',required: false}) }}
    {{ form_end(form) }}
    <table  border="1" width="100%" cellpadding="5">
        <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>content</th>
            <th>actions</th>
        </tr>
        </thead>
    <tbody id="list_posts"></tbody>
    </table>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        console.log($('#find-form'));
        $('#find-form').submit(
            function(e) {
                e.preventDefault();
                loadPosts($(this).find('input#form_page').val(), $(this).find('input#form_limit').val(), $(this).find('input#form_search').val());

        });
        function loadPosts(page = '', limit, search)
        {
            $.get(
                "/api/posts/"+page,
                {
                    limit: limit,
                    search: search
                },
                onAjaxSuccess
            );
            return false;
        }
        loadPosts();

        function onAjaxSuccess(data)
        {
            console.log(JSON.parse(data));
            $('#list_posts').html('');
            posts = JSON.parse(data);
            $.each(posts, function(index, post){

                $('#list_posts').append("<tr><td>"+post.id+"</td><td>"+post.title+"</td><td>"+post.content+"</td><td><a href=/admin/post/"+post.id+">Изменить</a><a href=# onClick=delPost("+post.id+")>Удалить</a></td></tr>");
            });
        }

        function delPost(id) {
            if (confirm("Удалить данный пост?")) {
                $.ajax({
                    url: '/api/post/'+id,
                    type: 'DELETE',
                    success: function(result) {
                        $('#find-form').submit();
                    }
                });
            }
        }
    </script>
</html>
