<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {{ form_start(form) }}
    {{ form_row(form.title, {full_name: 'title'}) }}
    {{ form_row(form.content, {full_name: 'content'}) }}
    {{ form_row(form.tags, {full_name: 'tags'}) }}
    {{ form_end(form) }}



    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</html>
